---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<h1> 👋 Hello, My name is Giovanni <br>Welcome to my corner on the web!</h1>
			<p>
				Ever since I was a child, I have been deeply fascinated by the field of IT and cybersecurity. I have always known that I wanted to pursue a career in informatics, which is why I decided to follow my passion and enrolled in a Bachelor's degree program in Applied Computer Science with a minor in Cybersecurity.
				<br><br>
				I am deeply committed to this field and believe that my combination of technical skills and knowledge of cybersecurity will enable me to contribute to the industry in a meaningful way. I am eager to learn and grow in my field, and I believe that my degree program will provide me with the knowledge and practical experience necessary to achieve my career goals.

			</p>
			<h2>
				🌱 What am I currently working on?
			</h2>
			<p>
				An overview of the projects I'm currently working on!
			</p>
			<p>
				👉 (Personal Project) <a href="https://cybersecurity-cookbook.super.site/" target="_blank">Cybersecurity Cookbook</a>
			</p>
			<p>
				👉 (Personal Project) <a href="https://cobalt-chicken-fb6.notion.site/AI-Based-Crypto-Trading-Bot-2bb560fd369b4c768960495de7dda485" target="_blank">AI Based Crypto Trading Bot</a>
			</p>
			<p>
				👉 (Internship) Cybersecurity with Elastic @ Formica
			</p>
		</main>
		<Footer />
	</body>
</html>
