---
export interface Props extends astroHTML.JSX.AnchorHTMLAttributes {}

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const isActive = href === pathname || href === pathname.replace(/\/$/, '');
---

<a href={href} class:list={[className, { active: isActive }]} {...props}>
	<slot />
</a>

<style>
	a {
		display: inline-block;
		text-decoration: none;
		color: #b5ffe5;
		transition: color 0.2s ease;
		font-weight: 500;
		font-size: 0.95rem;
	}

	a:hover {
		color: #63f7b3;
	}

	a.active {
		font-weight: 700;
		text-decoration: underline;
		color: #00ff95;
	}
</style>
